
body{
  overflow-x: hidden;
}

@font-face {
  font-family: "Silently";
  src: url(fonts/Silently\ FREE.otf);
}

/* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #0bd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
}

.loading{
  position: relative;
  animation: fadein-keyframes 1s ease 3s 1 forwards;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  /* animation: sk-scaleout 3.0s infinite ease-in-out; */
  animation: fadein-keyframes 2s ease 2s 1 forwards;
}

.POSSE{
  /* width: 1500px; */
  transform: translate(-50%,-50%);
}

@keyframes fadein-keyframes {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
/* ここまで */
/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

/* .loaded {
  opacity: 0;
  visibility: hidden;
} */
/* ここまで */

body{
  max-width: 1440px;
  background-color: azure;
}

header{
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: azure;
  z-index: 2;
  top: 0;
}

.header{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.links {
  display: flex;
}

.links a {
  margin-right: 50px;
  position: relative;
  line-height: 50px;
  color: black;
  text-decoration: none;
  font-family: "Oswald";
  font-weight: bold;
  font-size: 1.3em;
}

.link::after {
  content: "";
  position: absolute;
  background-color: #98e7ff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 5px;
  transition: 0.3s;
}

.link:hover {
  color: #696969;
}

.link:hover::after {
  width: 100%;

}

.POSSE1{
  width: 200px;
  height: 50px;
}

/* ぱっと見 */

.image-container{
  position: relative;
  margin-top: -35px;
}

.image1{
  width: 1100px;
  height: 650px;
  object-fit: cover;
  position: absolute;
  top: 150px;
  left: 400px;
  clip-path: url(#myClip)
  /* opacity: 0.8; */
}

.image2{
  width: 750px;
  height: 200px;
  position: absolute;
  top: 420px;
  left: -20px;
}

.introduction{
  position: absolute;
  top: 610px;
  left: 120px;
  font-size: 50px;
  font-family: "Oswald";
  /* background-color: white;
  padding: 0 30px;
  box-shadow: 4px 4px black;
  border-radius: 2px; */
}

.update{
  position: absolute;
  top: -100px;
  left: -50px;
  width: 1000px;
}

/* .update::after{
  background-color: white;
  margin: 10px 0 0;
  display: block;
  width: 500px;
  height: 30px;
  margin-top: 0px;
  content: "";
} */

/* 最初のページのアニメーション */
.image1{
  animation-name:fadeInAnime;
  animation-duration:2.5s;
  animation-fill-mode:forwards;
  opacity:0;
  animation-delay: 4s;
}

.image2{
  animation-name:fadeUpAnime;
  animation-duration:1.5s;
  animation-fill-mode:forwards;
  opacity:0;
  animation-delay: 4s;
}

.introduction{
  animation-name:fadeLeftAnime;
  animation-duration:1.5s;
  animation-fill-mode:forwards;
  opacity:0;
  animation-delay: 4s;
}

.update{
  animation-name:fadeDownAnime;
animation-duration:1.5s;
animation-fill-mode:forwards;
opacity:0;
animation-delay: 4s;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}

@keyframes fadeLeftAnime{
  from {
    opacity: 0;
  transform: translateX(-100px);
  }

  to {
    opacity: 1;
  transform: translateX(0);
  }
}

@keyframes fadeDownAnime{
  from {
    opacity: 0;
  transform: translateY(-100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}

/* ここまで */

/* ABOUT TITLE */

.introduce {
  margin-top: 200px;
  background-color: #fff;
}


.introduce{
  width: 100%;
  margin: 200px auto;
}

.img-introduce{
  position: relative;
}

h1 {
  max-width: 1440px;
  width: 1440px;
  height: 200px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  background-image: url(./img/output-onlinepngtools\ \(2\).png);
  font-size: 50px;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
}

/* 型抜き */
.svgSample1 text {
  font-weight       : bold;
  font-size         : 40px;
  font-family       : Meiryo UI;
  stroke            : #6666ff;
  fill              : #ffffff;
  letter-spacing    : 5px;
  text-anchor       : middle;
  dominant-baseline : alphabetic;
}
.svgSample1 > svg > use:nth-of-type(1) {
  stroke-width      : 11px;
  paint-order       : stroke;
  stroke-linejoin   : round ;
}
.svgSample1 > svg > use:nth-of-type(2) {
  stroke-width      : 0; 
}
/* ここまで */

.coverimage{
  width: 600px;
  height: 200px;
} 

/* .gray{
  width: 600px;
  height: 200px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%)
} */

.POSSE1-introduction{
  display: flex;
  flex-direction: row-reverse;
  background-color: #fff;
}

.introduce2{
  width: 800px;
  margin: 20px 60px auto auto;
  font-size: 30px;
  font-family: 游明朝体;
  background-color: rgb(236, 233, 228);
  border-radius: 5%;
  padding: 15px;
  /* animation-name:fadeUpAnime;
  animation-duration:1.5s;
  animation-fill-mode:forwards; */
  /* animation-delay: 4s; */
  opacity: 0;
}

.image3{
  width: 480px;
  border-radius: 5%;
  margin-top: 20px;
  margin-left: 20px;
}

.fadeUp{
  animation-name:fadeUpAnime;
  animation-duration:2.5s;
  animation-fill-mode:forwards;
  opacity:0;
  }

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}

.introduce2::first-letter{
  font-size: 60px;
  font-weight: bold;
}

/* ここからswiper */
.swiper-wraper{
  width: 100%;
  height: 300px;
}

.swiper-slide{
  top: 800px;
}

/* FOOTER */

.footer_cont {
  padding:  2% 3%;
  text-align: center;
}

.footer_cont a {
  text-align: center;
  text-decoration: none;
  color: #000;
  font-family: "Oswald";
}

.footer_cont img {
  width: 300px;
  height: 100%;
}

.footer_cont a:hover {
  opacity: 0.8;
}

.footer_sns {
  width: 100%;
  height: auto;
  margin: auto;
}

.footer_sns ul {
  margin: 20px 0 0 0;
  padding: 0;
  text-align: center;
}

.footer_sns ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 100%;
  background-color: #98e7ff;
}

.footer_sns ul li a {
  text-decoration: none;
  /* font-size: 20px; */
  display: block;
}

.footer_sns ul li a i {
  line-height: 50px;
}

.fa-twitter:hover {
  color: #1c9bef;
}

.fa-instagram:hover {
  color: #dc2a7b;
}

.fa-line:hover {
  color: #09b53c;
}

.footer_map {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 25px;
}

.footer_map ul {
  text-align: center;
}

.footer_map li {
  display: inline-block;
  margin: 10px 20px;
}

.footer_map a {
  text-decoration: none;
  font-weight: bold;
}

.footer_map a:hover {
  color: #696969;
}

