body {
  overflow-x: hidden;
}

@font-face {
  font-family: "Silently";
  src: url(fonts/Silently\ FREE.otf);
}

/* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #0bd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
}

.loading {
  position: relative;
  animation: fadein-keyframes 1s ease 3s 1 forwards;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  /* animation: sk-scaleout 3.0s infinite ease-in-out; */
  animation: fadein-keyframes 2s ease 2s 1 forwards;
}

.POSSE {
  /* width: 1500px; */
  transform: translate(-50%, -50%);
}

@keyframes fadein-keyframes {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
/* ここまで */
/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
}
/* ここまで */

body {
  max-width: 1440px;
  /* background-color: azure; */
}

header {
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: azure;
  z-index: 3;
  top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  z-index: 3;
}

.links {
  display: flex;
}

.links a {
  margin-right: 50px;
  position: relative;
  line-height: 50px;
  color: black;
  text-decoration: none;
  font-family: "Oswald";
  font-weight: bold;
  font-size: 1.3em;
}

.link::after {
  content: "";
  position: absolute;
  background-color: #98e7ff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 5px;
  transition: 0.3s;
}

.link:hover {
  color: #696969;
}

.link:hover::after {
  width: 100%;
}

.POSSE1 {
  width: 200px;
  height: 50px;
}

.image-container {
  position: relative;
  margin-top: -35px;
  background-color: azure;
  width: 1440px;
  height: 820px;
}

.image1 {
  width: 1100px;
  height: 650px;
  object-fit: cover;
  position: absolute;
  top: 84px;
  left: 400px;
  clip-path: url(#myClip);
  /* opacity: 0.8; */
}

.image2 {
  width: 750px;
  height: 200px;
  position: absolute;
  top: 420px;
  left: -20px;
}

.introduction {
  position: absolute;
  top: 610px;
  left: 120px;
  font-size: 50px;
  font-family: "Oswald";
  /* background-color: white;
  padding: 0 30px;
  box-shadow: 4px 4px black;
  border-radius: 2px; */
}

.update {
  position: absolute;
  top: -100px;
  left: -50px;
  width: 1000px;
}

/* .update::after{
  background-color: white;
  margin: 10px 0 0;
  display: block;
  width: 500px;
  height: 30px;
  margin-top: 0px;
  content: "";
} */

/* 最初のページのアニメーション */
.image1 {
  animation-name: fadeInAnime;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 4s;
}

.image2 {
  animation-name: fadeUpAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 4s;
}

.introduction {
  animation-name: fadeLeftAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 4s;
}

.update {
  animation-name: fadeDownAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 4s;
}

.fadeLeft {
  animation-name: fadeLeftAnime;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeRight {
  animation-name: fadeRightAnime;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeDown {
  animation-name: fadeDownAnime;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeftAnime {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRightAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeDownAnime {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ここまで */

/* ABOUT TITLE */

.first {
  margin-top: 0px;
}

.first {
  width: 100%;
  margin: 0px auto;
  height: 1750px;
}

.img-introduce {
  position: relative;
}

h1 {
  max-width: 1440px;
  width: 100%;
  height: 100px;
  /* position: absolute; */
  text-align: center;
  /* background-image: url(./img/output-onlinepngtools\ \(2\).png); */
  font-size: 50px;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  /* padding-left: 50px; */
}

h1 {
  position: relative;
  padding: 0.25em 0;
}

h1:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
  background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}

h1:first-letter {
  font-size: 2em;
  color: #ff696a;
}

text {
  margin-left: 50px;
}

/* 型抜き */
.svgSample1 text {
  font-weight: bold;
  font-size: 40px;
  font-family: Meiryo UI;
  stroke: #6666ff;
  fill: #ffffff;
  letter-spacing: 5px;
  text-anchor: middle;
  dominant-baseline: alphabetic;
}
.svgSample1 > svg > use:nth-of-type(1) {
  stroke-width: 11px;
  paint-order: stroke;
  stroke-linejoin: round;
}
.svgSample1 > svg > use:nth-of-type(2) {
  stroke-width: 0;
}
/* ここまで */

/* .coverimage{
  width: 600px;
  height: 200px;
} */

/* .gray{
  width: 600px;
  height: 200px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%) */
/* } */

/*画面遷移アニメーション*/
.splashbg {
  display: none;
}

/*bodyにappearクラスがついたら出現*/
.splashbg {
  display: block;
  content: "";
  position: fixed;
  z-index: 999;
  width: 1440px;
  height: 200px;
  top: 236px;
  left: 0px;
  transform: scaleX(0);
  background-color: rgb(102, 105, 134); /*伸びる背景色の設定*/
  animation-name: PageAnime;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  /* animation-delay: 4s; */
}

@keyframes PageAnime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.001% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

/*画面遷移の後現れるコンテンツ設定*/
#container {
  opacity: 0; /*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container {
  animation-name: PageAnimeAppear;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ここまで */

.POSSE1-introduction {
  /* display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap; */
  position: relative;
  background-color: #fff;
  padding-bottom: 20px;
}

.introduce2,
.introduce3 {
  width: 400px;
  height: 400px;
  font-size: 20px;
  font-family: 游明朝体;
  /* background-color: rgb(236, 233, 228); */
  /* border-radius: 5%; */
  padding: 15px;
  /* animation-name:fadeUpAnime;
  animation-duration:1.5s;
  animation-fill-mode:forwards; */
  /* animation-delay: 4s; */
  opacity: 0;
}

.introduce2 {
  margin: 20px 100px auto auto;
  position: absolute;
  top: 1100px;
  left: 910px;
}

.introduce3 {
  margin: 20px auto auto 60px;
  position: absolute;
  top: 1300px;
  left: 60px;
}

.image3 {
  width: 800px;
  position: absolute;
  top: 20px;
  left: 100px;
  z-index: 0;
}

.image4 {
  width: 1000px;
  position: absolute;
  top: 550px;
  left: 400px;
  z-index: 1;
}

.image5 {
  width: 700px;
  position: absolute;
  top: 1000px;
  left: 100px;
  z-index: 2;
}

.image6 {
  width: 800px;
  position: absolute;
  top: 20px;
  left: 550px;
  z-index: 0;
}

.image7 {
  width: 1200px;
  height: 600px;
  object-fit: cover;
  position: absolute;
  top: 550px;
  left: 50px;
  z-index: 1;
}

.image8 {
  width: 900px;
  position: absolute;
  top: 1050px;
  left: 600px;
  z-index: 2;
}

.introduce2::first-letter {
  font-size: 60px;
  font-weight: bold;
}

.introduce3::first-letter {
  font-size: 60px;
  font-weight: bold;
}

.good {
  margin-bottom: 200px;
  width: 100%;
  height: 1700px;
}

/* ここからswiper */
.swiper-container {
  /* position: absolute; 
  top: 50px; */
}

.swiper-wraper {
  width: 100%;
}

.swiper-slide {
  margin: 50px 10px 50px;
}

.tukareta {
  position: relative;
}

.realevent {
  width: 500px;
  height: 400px;
  background-color: rgb(255, 251, 246);
  /* margin: -550px auto auto auto; */
  text-align: center;
  padding: 30px;
  font-size: 20px;
  line-height: 50px;
  z-index: 1;
  position: absolute;
  top: 100px;
  left: 30%;
}

.realevent::first-letter {
  font-size: 60px;
  font-weight: bold;
}

.riaibe {
  position: relative;
  width: 100%;
  height: 600px;
}

.Form {
  max-width: 1440px;
  width: 60%;
  height: 200px;
  margin: 50px auto;
  text-align: center;
  
}

h3{
  text-align: center;
  position: relative;
  font-size: 35px;
  font-weight: bold;
  color: #ff696a;
}

h3::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 40px;
  background-color: #ff696a;
  position: absolute;
  top: 5px;
  left: 0px;
  transform: rotate(-20deg);
}

h3::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 40px;
  background-color: #ff696a;
  position: absolute;
  top: 5px;
  right: 0px;
  transform: rotate(20deg);
}

.form ,.form2{
  margin-top: 50px;
  font-size: 35px;
  text-align: center;
}

.googleform{
  margin: 50px auto;
  font-size: 35px;
  background-color: #0bd;
  color: #fff;
  border-color: #fff;
}

.googleform:hover{
  background-color: #fff;
  color: #696969;
}